@font-face {
  font-family: 'cinzel';
  font-style: normal;
  font-weight: 400;
  src: url('/content/themes/tacocatracing/assets/fonts/cinzel-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/cinzel-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/cinzel-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/cinzel-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'cinzel';
  font-style: normal;
  font-weight: 600;
  src: url('/content/themes/tacocatracing/assets/fonts/cinzel-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/cinzel-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/cinzel-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/cinzel-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'cinzel';
  font-style: normal;
  font-weight: 800;
  src: url('/content/themes/tacocatracing/assets/fonts/cinzel-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/cinzel-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/cinzel-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/cinzel-black-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'cinzel-decorative';
  font-style: normal;
  font-weight: 600;
  src: url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'cinzel-decorative';
  font-style: normal;
  font-weight: 800;
  src: url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/cinzeldecorative-black-webfont.ttf') format('truetype');
}


@font-face {
  font-family: 'dinbek';
  font-style: normal;
  font-weight: 200;
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'dinbek';
  font-style: normal;
  font-weight: 200;
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'dinbek';
  font-style: normal;
  font-weight: 400;
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/dinbek-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/dinbek-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'dinbek';
  font-style: normal;
  font-weight: 600;
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'dinbek';
  font-style: normal;
  font-weight: 800;
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_black-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/dinbek_black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/dinbek_black-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'muncie';
  font-style: normal;
  font-weight: 400;
  src: url('/content/themes/tacocatracing/assets/fonts/muncie-webfont.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/muncie-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/muncie-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/muncie-webfont.ttf') format('truetype');
}


@font-face {
  font-family: 'perpetua';
  font-style: normal;
  font-weight: 400;
  src: url('/content/themes/tacocatracing/assets/fonts/ufonts_com_perpetua.eot'); /* IE9 Compat Modes */
  src: url('/content/themes/tacocatracing/assets/fonts/ufonts_com_perpetua.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/content/themes/tacocatracing/assets/fonts/ufonts_com_perpetua.woff') format('woff'), /* Pretty Modern Browsers */
       url('/content/themes/tacocatracing/assets/fonts/ufonts_com_perpetua.ttf') format('truetype');
}
